<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-01-20-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506977361.87584698</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-21-com01.md</key>
			<dict>
				<key>lastModification</key>
				<real>507899091.53030598</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>2017-01-21-com1.md</key>
			<dict>
				<key>lastModification</key>
				<real>506977361.875844</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-22-com2.md</key>
			<dict>
				<key>lastModification</key>
				<real>506977758.465074</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2017-01-23-com3.md</key>
			<dict>
				<key>lastModification</key>
				<real>507112042.04298502</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2017-02-01-book1.md</key>
			<dict>
				<key>lastModification</key>
				<real>508619533.66689301</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>2017-02-02-book2.md</key>
			<dict>
				<key>lastModification</key>
				<real>508619726.06325102</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>2017-02-11-f.md</key>
			<dict>
				<key>lastModification</key>
				<real>508565810.67594701</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>2017-02-12-q1.md</key>
			<dict>
				<key>lastModification</key>
				<real>508616134.94793999</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>2017-02-14-c1.md</key>
			<dict>
				<key>lastModification</key>
				<real>508811628.61588198</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>61</integer>
				</dict>
			</dict>
			<key>2017-02-14-c2.md</key>
			<dict>
				<key>lastModification</key>
				<real>508811752.090482</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>2017-03-21-f1.md</key>
			<dict>
				<key>lastModification</key>
				<real>511836573.27542698</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>79</integer>
				</dict>
			</dict>
			<key>2017-03-21-f2.md</key>
			<dict>
				<key>lastModification</key>
				<real>511836663.53425401</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>83</integer>
				</dict>
			</dict>
			<key>2017-03-23-f3.md</key>
			<dict>
				<key>lastModification</key>
				<real>512017326.03241497</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>120</integer>
				</dict>
			</dict>
			<key>2017-03-23-f4.md</key>
			<dict>
				<key>lastModification</key>
				<real>512096495.92405897</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>138</integer>
				</dict>
			</dict>
			<key>2017-03-23-f5.md</key>
			<dict>
				<key>lastModification</key>
				<real>512096135.36155099</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>124</integer>
				</dict>
			</dict>
			<key>2017-03-23-f6.md</key>
			<dict>
				<key>lastModification</key>
				<real>512016999.78022099</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>106</integer>
				</dict>
			</dict>
			<key>2017-03-23-f7.md</key>
			<dict>
				<key>lastModification</key>
				<real>512096334.28160399</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>128</integer>
				</dict>
			</dict>
			<key>2017-03-23-f8.md</key>
			<dict>
				<key>lastModification</key>
				<real>512096417.49552703</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>132</integer>
				</dict>
			</dict>
			<key>2017-03-23-f9.md</key>
			<dict>
				<key>lastModification</key>
				<real>512096474.74470198</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>136</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>512017041.986359</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-03-23-f9.md</string>
		</array>
		<array>
			<string>2017-03-23-f8.md</string>
		</array>
		<array>
			<string>2017-03-23-f7.md</string>
		</array>
		<array>
			<string>2017-02-14-c2.md</string>
		</array>
		<array>
			<string>2017-03-21-f1.md</string>
		</array>
		<array>
			<string>2017-03-21-f2.md</string>
		</array>
		<array>
			<string>2017-03-23-f6.md</string>
		</array>
		<array>
			<string>2017-03-23-f5.md</string>
		</array>
		<array>
			<string>2017-03-23-f3.md</string>
		</array>
		<array>
			<string>2017-03-23-f4.md</string>
		</array>
		<array>
			<string>2017-02-14-c1.md</string>
		</array>
		<array>
			<string>2017-01-20-summary.md</string>
		</array>
		<array>
			<string>2017-01-21-com1.md</string>
		</array>
		<array>
			<string>2017-01-21-com01.md</string>
		</array>
		<array>
			<string>2017-01-22-com2.md</string>
		</array>
		<array>
			<string>2017-01-23-com3.md</string>
		</array>
		<array>
			<string>2017-02-11-f.md</string>
		</array>
		<array>
			<string>2017-02-12-q1.md</string>
		</array>
		<array>
			<string>2017-02-01-book1.md</string>
		</array>
		<array>
			<string>2017-02-02-book2.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>139</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
