<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title %}
      {{ page.title }} &middot; {{ site.title }}
    {% else %}
      {{ site.title }} &middot; {{ site.subtitle }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/simple/poole.css">
  <link rel="stylesheet" href="/assets/css/simple/syntax.css">
  <link rel="stylesheet" href="/assets/css/simple/lanyon.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">


</head>



  <body>

    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>COMSOL专题</small>
          </h3>
        </div>
      </div>
      <div class="container content">


<!-- 正文 -->
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }} </span>
  {{ content }}
</div>

<!-- 翻页 -->
{% if page.previous %}
    <a class="pagination-item newer" href="{{ BASE_PATH }}{{ page.previous.url }}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ page.previous.title }}</a>
{% else %}
    <span class="pagination-item newer">上一篇&nbsp;<i class="fa fa-chain-broken"></i></span>
{% endif %}

{% if page.next %}
    <a class="pagination-item older" href="{{ BASE_PATH }}{{ page.next.url }}">{{ page.next.title }}&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
{% else %}
    <span class="pagination-item older">下一篇&nbsp;<i class="fa fa-chain-broken"></i></span>
{% endif %}

<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.blog.url }}{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"liuxinin"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->

<!-- 相关 -->
<div class="related">
  <h2>Feature</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:6 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>


</div>
    </div>

  </body>
</html>
